@model IEnumerable<Event>

<form method="get">

    <input type="text"
           name="search"
           placeholder="Search Event" />

    <select name="eventTypeId"
            asp-items="ViewBag.EventTypes">

        <option value="">
            All Event Types
        </option>

    </select>

    <input type="date"
           name="startDate" />

    <input type="date"
           name="endDate" />

    <button type="submit">
        Filter
    </button>

</form>

<table>

    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.EventType?.Name</td>
            <td>@item.EventDate.ToShortDateString()</td>
        </tr>
    }

</table>